<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Recipe Book</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <div class="left-column">
            <h1>Add a New Recipe</h1>
            <form action="#" method="post">
                <label for="1">Name:</label>
                <input type="text" name="nm" id="1"><br><br>
                <label for="2">ingredients:</label>
                <input type="text" name="ingredients" id="2"><br><br>
                <label for="3">instructions:</label>
                <input type="text" name="instructions" id="3"><br><br>
                <button type="submit">Submit Recipe</button><br><br>
                {% if data is defined %}
            <p>Recipe Added !! {{data['name']}}</p>
            {% endif %}  
            </form>
        </div>
        <div class="right-column">
            <!-- Display existing recipes or other content -->
        </div>
    </div>
    <!--<script src="script.js"></script>-->
</body>
</html>
